.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-info {
    margin: 5px 0;
    font-family: sans-serif;
}

.product-divider {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}
